<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<logger name="com.course.microservice" level="debug" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.kafka" level="info">
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.axonframework" level="error">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="warn">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>