<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="LOGSTASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>d:/development/logstash/api-composition.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${user.home}/logstash/api-composition.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<logger name="com.course.microservice" level="debug"
		additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOGSTASH" />
	</logger>

	<root level="warn">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>